*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #151D21;
    overflow-x:hidden; /*fixed width overflow with overflow-x:hidden!!
    use it more often whenever you create another website!!*/

}
#nav-bar{
    display: flex;
    position: fixed;
    left: 47%;
    top: 5%;
    z-index: 1000;
}
a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(177, 177, 177);
}
a:active{
    color: black;
}
.logo{
    position:fixed;
    right: 90%;
}





.content{
    position: relative;
    top: 50%;
    margin: auto;
}

.smpl-intro{
    color: white;
    font-size: 33px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    position: relative;
}
.smpl-intro h1{
    padding: 10px;
    margin: 10px;
}
img{
    max-width: 110%;
    border-radius: 3px;
    box-shadow: 3px 5px black;
    position: relative;
    bottom: 25px;
    
}





.goals-container{
    font-style: italic;
    margin-top: 30%;
}
.goals{
    margin: auto;
}
.goals-h1{
    font-size: 60px;
    text-align: center;
    background-color:cadetblue;
    padding: 2em;

}
#goals-intro{
    padding:2em;
    font-size: 44px;
    color: white;
    text-align: left;
    max-width:46%;
    margin:auto;
}
.goals-content{
    background-color: #151D21;
    padding: 4em;
    text-align: center;
    color: white;
}

.h1-goals{
    position: relative;
    right: 24em;
    font-size: 40px;
}

li{
    padding: 1em; 
    position: relative;
    left: 27%;
}
ul{
    list-style-position:inside;
    list-style-type:disc;
    text-align: left;
    font-size: 40px;
}
#footer{
    min-height: 200px;
    margin-top: 27%;
    background-color:cadetblue;
}
.contacts{
    text-align: center;
    font-size: 40px;
}
.contacts-header{
    padding: 25px;
}
#copyright{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

@media (max-width: 600px){
    #nav-bar{
        display: flex;
        top: 5%;
        left: 40%;
        position: fixed;
    }
    .logo{
        position:fixed;
        right: 70%;
    }

    img{
        max-width: 300px;
     }

    .smpl-intro{
        font-size: 24px;
        margin-top: 40%;
    }


    .goals-container{
        margin-top: 100%;
    }
    #goals-intro{
        font-size: 20px;
        max-width: 75%;
    }
    .goals-content{
        color: white;
    }
    .h1-goals{
        right: 4em;
        font-size: 24px;
    }
    li{
        padding: 1em; 
        position: relative;
        left: 5%;
    }
    ul{
        list-style-position:inside;
        list-style-type:disc;
        text-align: left;
        font-size: 24px;
    }
    .contacts{
        font-size: 25px;
    }
    #copyright{
        font-size: 22px;
        padding: 40px;
    }
}