*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #151D21;
    font-family: 'Times New Roman', Times, serif;
    overflow-x:hidden;
}
#nav-bar{
    display: flex;
    top: 5%;
    left: 46%;
    position: fixed;
    z-index: 1000;
}
a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}
a:hover{
    color: rgb(177, 177, 177);
}
a:active{
    color: black;
}
.logo{
    position:fixed;
    right: 90%;
}





.content{
    position: relative;
    top: 50%;
    margin: auto;
}

.smpl-intro{
    color: white;
    font-size: 33px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    position: relative;
}
.smpl-intro h1{
    padding: 10px;
    margin: 10px;
}
img{
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 3px 5px black;
    position: relative;
    bottom: 25px;
    
}







#about{
    font-style: italic;
    background-color:cadetblue;
    margin-top: 27%;

}
.intro{
    padding: 4em;
    max-width: 50%;
    margin: auto;
}
.intro-h1{
    font-size: 55px;
    position: relative;
    right: 5%;
}
.intro-h2{
    font-size: 50px;
}





#project{
    font-style: italic;
    margin-top: 38%;
    position: relative;
}
.project-div{
    padding: 6em;
    margin: auto;
    background-color: cadetblue;
}

.project-h1{
    font-size: 50px;
    text-align: center;
}
.project-content{
    text-align: center;
    padding: 4em;
    color: white;
    font-size: 50px;
}





#footer{
    min-height: 200px;
    margin-top: 27%;
    background-color:cadetblue;
}
.contacts{
    text-align: center;
    font-size: 50px;
}
.contacts-header{
    padding: 25px;
}
#copyright{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

/* Fix the problem with the width please :) might be the div or the max-width from the selectors that's messing it up for the body. FIXED 10-15-2023 */
/* can also use justify-content: center to center everything. FIXED WITH MARGIN AUTO 10-15-2023 */

/* Major Breakpoints: Less than 600px, 601px (min) 768px, (min) 992px (min), and lastly everything ABOVE 1200px*/

@media (max-width: 600px) {
    #nav-bar{
        top: 5%;
        left: 35%;
        position: fixed;
    }
    a{
        font-size: 24px;
        padding-left: 12px;
    }
    img{
       max-width: 300px;
    }
    .logo{
        position:fixed;
        right: 80%;
    }


    .smpl-intro{
        font-size: 24px;
        margin-top: 40%;
    }

    #about{
        margin-top: 150%;
        padding: 1em;
    }
    .intro{
        padding: 4em;
        max-width: 100%;
    }
    .intro-h1{
        font-size: 40px;
    }
    .intro-h2{
        font-size: 18px;
    }


    #project{
        margin-top: 150%;
    }
    .project-div{
        padding: 5em;
    }
    .project-h1{
        font-size: 30px;
    }
    .project-content{
        font-size: 32px;
    }
    .contacts{
        font-size: 25px;
    }
    #copyright{
        font-size: 22px;
        padding: 40px;
    }
}